#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #4e5ba6;
  font-weight: bold;
  color: white;
  font-size: 14px;
  padding: 0 80px;
  flex-shrink: 0;
}
.random-lottos {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.one-lotto {
  display: flex;
  justify-content: start;
  align-items: center;
}

.one-lotto img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
}

.purchaesd-quantity {
  font-weight: bold;
}
.play-lotto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-container {
  display: flex;
  gap: 20px;
}

input {
  flex: 1;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
}

button {
  background-color: #4e5ba6;
  padding: 10px 20px;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3f4e8f;
  scale: 1.1;
}

.header {
  font-weight: bold;
}
.lotto-dashboard {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #b4b4b4;
  padding: 20px 10px;
  border-radius: 5px;
}

.lotto-header {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 40px;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #b4b4b4;
  color: #4e5ba6;
  font-size: 14px;
  font-weight: bold;
  flex-shrink: 0;
}
